#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
  cursor: not-allowed;
}

#imgLoading {
  position: absolute;
  top: 49%;
  left: 49%;
  margin: auto;
}

.help-block { color: red }